<footer>
        <a href="https://bmelara-del.github.io/itis3135/index.html" target="_blank">ITIS3135 |</a>
        <a href="https://github.com/bmelara-del" target="_blank"> GitHub |</a>
        <a href="https://webpages.charlotte.edu/bmelara/" target="_blank"> CLT Web |</a>
        <a href="https://bmelara-del.github.io/" target="_blank"> Github.io |</a>
        <a href="https://www.freecodecamp.org/bmelara0101" target="_blank">freeCodeCamp |</a>
        <a href="https://www.linkedin.com/in/bryan-melara-a4a605381/" target="_blank"> LinkedIn | </a>
        <a href="https://bmelara-del.github.io/itis3135/stuff/wEb PaGe@.htm" target="_blank">Bad Website Example | </a>
        <a href="https://bmelara-del.github.io/itis3135/website_evaluations.html">Website Evaluations | </a>
 </footer>