 <header> <!--This is the opening tag-->
        <h1>
            Bryan Melara | Bombastic Mouse
        </h1>
        <nav class="main-nav">
            <a href="/itis3135/index.html">Home</a>
            <a href="/itis3135/contract.html">Contract</a>
            <a href="/itis3135/survey.html">Survey</a>
            <a href="/itis3135/gallery.html">Gallery</a>
            <a href="/itis3135/inventory.html">Inventory</a>
            <a href="/itis3135/instructions.html">Instructions</a>
            <a href="/itis3135/highlight.html">Highlight</a>
        </nav>
        <nav>
            <a href="https://bmelara-del.github.io/itis3135/stuff/wEb PaGe@.htm" target="_blank">Bad Website Example</a>
            <a href="https://bmelara-del.github.io/itis3135/website_evaluations.html">Website Evaluations</a>
        </nav>
    </header> <!--This is the closing tag-->