 <header> <!--This is the opening tag-->
        <h1>
            Bryan Melara | Bombastic Mouse
        </h1>
        <nav class="main-nav">
            <a href="index.html"> Home &nbsp;</a>
            <a href="survey.html"> Survey &nbsp;</a>
            <a href="gallery.html"> Gallery &nbsp;</a>
            <a href="inventory.html"> Inventory &nbsp;</a>
            <a href="instructions.html"> Instructions &nbsp;</a>
            <a href="highlight.html"> Highlight &nbsp;</a>
        </nav>
    </header> <!--This is the closing tag-->