 <header> <!--This is the opening tag-->
        <h1>
            Bryan Melara | Bombastic Mouse
        </h1>
        <nav class="main-nav">
            <a href="index.html"> Home</a>
            <a href="contract.html">Contract</a>
            <a href="survey.html"> Survey</a>
            <a href="gallery.html"> Gallery</a>
            <a href="inventory.html"> Inventory</a>
            <a href="instructions.html"> Instructions</a>
            <a href="highlight.html"> Highlight</a>
        </nav>
    </header> <!--This is the closing tag-->